.email_validate,
.error{
	color: red;
	position: absolute;
	left: 10px;
	top: 30px;
}

.error-show{
	display: block;
}
.error-hide{
	display: none;
}

.api-result{
	color:green;
}
.api-result-show{
	display: block;
}
.api-result-hide{
	display: none;
}